@model ShoppingCartViewModel

<h2>Giỏ hàng: Sản phẩm yêu thích</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Số lượng</th>
            <th>Kẹo</th>
            <th class="text-right">Giá</th>
            <th class="text-right">Tổng phụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-left"><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-candyId="@item.Candy.CandyId" alt="">Giảm số lượng</a></td>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("c")</td>
                <td class="text-right">
                    @((item.Amount * item.Candy.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Tổng cộng</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Xóa giỏ hàng</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Kiểm tra</a>
</div>
